body {
    background-color: antiquewhite;
}



#pan1 {
    background-color: #deb887;
    width: 600px;
    height: 100px;
    border: #deb887;
    border-radius: 300px 300px 50px 50px;
    background: linear-gradient(to bottom, #deb887 80%, #b4956d 20%
    );

}

* {
    margin-left: auto;
    margin-right: auto;
  }

#salchicha {
    background-color: #a52a2a;
    width: 640px;
    height: 80px;
    border: #deb887;
    border-radius: 50px;
    background: linear-gradient(#a52a2a
    , #b40404

    );
}


#pan2 {
    background-color: #deb887;
    width: 600px;
    height: 100px;
    border: #deb887;
    border-radius: 50px 50px 300px 300px;
    background: linear-gradient(to top, #deb887 80%, #b4956d 20%
    );
}
