@font-face {
    font-family: Starjedi;
    src: url(Starjedi.ttf);
}
.imperio {
    background-color: red;
    width: 800px;
}
#darthvader {
    font-size: 50px;
}
.apoyo {
    font-size: 25px;
    text-align: center;
}
.rebeldes {
    background-color: rgb(0, 140, 255);
    width: 800px;
}
#luke {
    font-size: 50px;
}
.naves {
    text-transform: uppercase;
    text-size-adjust: 25px;
    color: white;
}
* {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .soldados {
    border: 5px;
    border-style: outset;
    border-color: red;
  }
  body {
    background-color: black;
    background-image: url("https://cdn.pixabay.com/photo/2016/01/27/15/25/space-1164579_960_720.png");
    background-size: auto;
}
.blanco {
    color: white;
    text-size-adjust: 50px;
    text-align: center;
}

* {
    font-family: starjedi;
    text-align: center;
}
